<!DOCTYPE html>
<html>


<head>

<title>RPG Agus</title>

</head>



<body>


<h1>⚔️ RPG Agus ⚔️</h1>



<hr>



<h2>
🧙 {{ jugador.nombre }}
</h2>


<p>
⭐ Nivel: {{ jugador.nivel }}
</p>


<p>
❤️ Vida:
{{ jugador.vida }}
/
{{ jugador.vida_maxima }}
</p>


<p>
⚔️ Daño:
{{ jugador.daño }}
</p>


<p>
💰 Oro:
{{ jugador.oro }}
</p>


<p>
✨ Experiencia:
{{ jugador.experiencia }}
</p>


<p>
🧪 Pociones:
{{ jugador.pociones }}
</p>



<hr>



{% if enemigo %}


<h2>
👹 Enemigo
</h2>

<p>
{{ enemigo.nombre }}
</p>

<p>
❤️ Vida:
{{ enemigo.vida }}
</p>

{% if jugador.lupa %}

<p>
⚔️ Daño:
{{ enemigo.daño }}
</p>

<p>
💰 Oro:
{{ enemigo.oro }}
</p>

{% endif %}



<form action="/atacar" method="post">

<button>
⚔️ Atacar
</button>

</form>



<form action="/curar" method="post">

<button>
🧪 Curar
</button>

</form>



{% else %}


<h2>
🏰 Mazmorra
</h2>

<p>
📍 Piso actual: {{ jugador.piso }}
</p>


<form action="/avanzar" method="post">

<button>
🚪 explorar mazmorra
</button>

</form>


{% endif %}



<hr>



<h3>
📜 Registro:
</h3>

<div id="registro"
     style="
     height:220px;
     overflow-y:auto;
     border:1px solid black;
     padding:10px;
     background:white;">
</div>


<script>

let mensajes = [];

{% for linea in registro %}
mensajes.push({{ linea | tojson }});
{% endfor %}

let caja = document.getElementById("registro");

caja.innerHTML = "";

let i = 0;

function mostrarMensaje(){

    if(i >= mensajes.length){
        return;
    }

    let p = document.createElement("p");

    p.innerHTML = mensajes[i];

    caja.appendChild(p);

    caja.scrollTop = caja.scrollHeight;

    i++;

    setTimeout(mostrarMensaje,1000);

}

mostrarMensaje();

</script>

</body>


</html>