<!DOCTYPE html>
<html>

<head>

<title>RPG Agus</title>

</head>


<body>


<h1>⚔️ RPG Agus ⚔️</h1>


<h2>{{ jugador.nombre }}</h2>


<p>
❤️ Vida:
{{ jugador.vida }}/{{ jugador.vida_maxima }}
</p>


<p>
⚔️ Daño:
{{ jugador.daño }}
</p>


<p>
🧪 Pociones:
{{ jugador.pociones }}
</p>


<p>
💰 Oro:
{{ jugador.oro }}
</p>


<hr>


<h2>🐺 Enemigo</h2>


<h3>
{{ enemigo.nombre }}
</h3>


<p>
❤️ Vida:
{{ enemigo.vida }}
</p>


<hr>


<h3>
{{ mensaje }}
</h3>



<form action="/atacar" method="post">

<button>
⚔️ Atacar
</button>

</form>



<form action="/curar" method="post">

<button>
🧪 Curar
</button>

</form>



<form action="/nuevo" method="post">

<button>
🐺 Buscar enemigo
</button>

</form>



</body>

</html>